<md-sidenav class="md-whiteframe-z2" md-component-id="left" hide-print md-is-locked-open="$mdMedia('gt-sm')">

  <header>
    <img src="/assets/imgs/php.svg" />
  </header>

  <md-content layout="row" role="navigation">
    <ul flex>
      <li>
        <md-button ui-sref="app.readme" href="/readme">
          <span>Read me</span>
          <i class="fa fa-book"></i>
        </md-button>
      </li>
      <li>
        <md-button ui-sref="app.primeira" href="/primeira-questao">
          <span>1ª Questão</span>
          <i class="fa fa-repeat"></i>
        </md-button>
      </li>
      <li>
        <md-button ui-sref="app.segunda" href="/segunda-questao">
          <span>2ª Questão</span>
          <i class="fa fa-code"></i>
        </md-button>
      </li>
      <li>
        <md-button ui-sref="app.terceira" href="/terceira-questao">
          <span>3ª Questão</span>
          <i class="fa fa-database"></i>
        </md-button>
      </li>
      <li>
        <md-button ui-sref="app.quarta" href="/quarta-questao">
          <span>4ª Questão</span>
          <i class="fa fa-check-square-o"></i>
        </md-button>
      </li>
    </ul>
  </md-content>
  <footer>
    <md-content role="navigation">
      <p class="signature text-center">@brab0</p>
      <ul id="social-media" class="text-center">
        <li style="display: inline-block">
          <a href="https://br.linkedin.com/in/brab0" target="_blank">
            <i class="fa fa-linkedin-square"></i>
          </a>
        </li>
        <li style="display: inline-block">
          <a href="https://github.com/brab0" target="_blank">
            <i class="fa fa-github-square"></i>
          </a>
        </li>
      </ul>
    </md-content>
  </footer>
</md-sidenav>
